/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap'); */
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


body {
    font-family: 'Nanum Gothic', sans-serif;
    /* font-family: 'Inter'; */
    font-style: normal;
    color: white;
    background-color: #f1f3fb;
    height: 100vh;
    position: absolute;
}

main {
    height: max-content;
}

.header1 {
    width: 100vw;
    height: 90px;
    /* background: #001F36; */
    background: #1c2029;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1Logo {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin: 0px;
    margin-left: 15px;
}

.page-title {
    margin-left: 15px;
    color: black;
    text-align: center;
}

.menuIcon {
    width: 50px;
    height: 50px;
    margin: 0px 20px;
}

.fecharIcon {
    position: absolute;
    cursor: pointer;
    right: 0;
    width: 40px;
    height: 40px;
    margin: 25px 25px;
}

.btn-nova-reserva {
    width: 180px;
    height: 55px;
    border: none;
    background: #27b879;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: 600;
}

.btn-nova-reserva:hover {
    border: 1px white solid;
}

.header-nav {
    display: flex;
    align-items: center;
}

.tabela-dados {
    padding: 10px 60px;
    color: black;
    width: 100%;
    text-align: center;
}

.tabela-dados th {
    padding: 20px 0px;
    background-color: rgba(217, 217, 217, 0.534);
}

.tabela-dados td {
    height: 45px;
    border-bottom: 1px solid rgba(217, 217, 217, 0.555)
}

.menuLateral {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #1c2029;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 450px;
    align-items: center;
}

.menuLateral.hidden {
    display: none;
}

.menuLateral ul {
    margin-top: 50px;
    list-style: none;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5em;
    text-align: center;
}

.menuLateral ul li {
    color: white;
    font-size: 1.5em;
}

.menuLateral ul a {
    font-size: 18pt;
    color: whitesmoke;
}

.menuLateral ul a:hover {
    text-decoration: underline;
}

.action-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.action-div {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.sem-dados-texto {
    color: black;
}

.img-list {
    width: 150px;
}